terraform {
  backend "http" {
    # les variables terraform ne sont pas possibles ici (pour pas mettre en clair), il faut export en env
    # faire remote-backend-init.sh avant

    # url à remplacer selon le domaine. Suivre la procédure "docs/TERRAFORM-REMOTE-STATE.md"
    address        = "https://terraform-backend.priv.{{ DOMAIN }}/client/{{ GITHUB_ORG }}/{{ GITHUB_REPO }}/{{ PROXMOX_NODE }}/state"
    lock_address   = "https://terraform-backend.priv.{{ DOMAIN }}/client/{{ GITHUB_ORG }}/{{ GITHUB_REPO }}/{{ PROXMOX_NODE }}/lock"
    unlock_address = "https://terraform-backend.priv.{{ DOMAIN }}/client/{{ GITHUB_ORG }}/{{ GITHUB_REPO }}/{{ PROXMOX_NODE }}/unlock"
    lock_method    = "POST"
    unlock_method  = "POST"
  }
}
