# URL de l'API Proxmox
proxmox_endpoint  = "{{ proxmox.endpoint }}"

# Utilisateur Proxmox pour Terraform
proxmox_api_token = "{{ proxmox.user }}@{{ proxmox.realm }}!{{ proxmox.token_id }}={{ proxmox.token_secret }}"

# Ignorer les erreurs TLS (true pour certificats auto-signés)
proxmox_insecure = true

proxmox_ssh_username         = "{{ proxmox.ssh_user }}"

# Nom du fichier de votre clé SSH (ex: proxmox_terraform)
proxmox_ssh_private_key_path = "~/.ssh/{{ proxmox.ssh_key_name }}"
ssh_public_key_path          = "~/.ssh/{{ proxmox.ssh_key_name }}.pub"

storage        = "{{ proxmox.storage }}"

# Stockage pour les sauvegardes et templates (ex: local)
backup_storage = "{{ proxmox.backup_storage }}"

node_name      = "{{ proxmox.node }}"
